@import "lib/normalize";
// @import "lib/fontawesome";
// @import "lib/brands";
// @import "lib/regular";
// @import "lib/solid";
// @import "lib/devicon";

@import 'base';
@import 'vars';
@import 'animation';
@import 'header';
@import 'about';
@import 'projects';
@import 'footer';
