{% macro about() %}
<div class="user-details">
  <img alt="Mint Raines headshot" src="{{ config.base_url ~ "/img/mint-headshot.jpg" }} />
  <h1> About Me </h1>
  <!-- <p> {{ config.extra.user_description }} </p> -->
  <p> You've found Mint Raines' web page.<br />
      I'm a <em>cybersecurity-trained software engineer</em> from Melbourne, Australia.
      I've spent the last two years honing various skills while recovering from severe anxiety.
      You've probably come here looking for some of them, so here they are!</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-angularjs-plain colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>I've been learning about <a href="https://www.getzola.org">Zola</a> and its lovely templating language, <a href="https://keats.github.io/tera/">tera</a>, along with <a href="https://sass-lang.com/">Sass</a>, to make this website!</p>
      <p>In the past I've used <a href="https://angular.dev">Angular</a> for frontend development.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-rust-original colored"></i>
      <i class="devicon-elixir-plain colored"></i>
      <i class="devicon-godot-plain colored"></i>
      <p>I have interests in learning reliable coding in <a href="https://rust-lang.org">Rust</a>
          as well as functional programming in <a href="https://elixir-lang.org">Elixir</a>.</p>
      <p> Additionally I've been learning to program games in <a href="https://godotengine.org">the Godot engine</a>,
          including an extensive retro-styled dungeon crawler with an intricately descriptive combat system.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-archlinux-plain colored"></i>
      <i class="devicon-jira-plain-wordmark colored"></i>
      <p>As most modern developers do, I have experience using <a href="https://git-scm.com">Git</a> for version management.
          My main and preferred OS is <a href="https://archlinux.org">Arch Linux</a> with the <a href="https://swaywm.org">swaywm</a> compositor.</p>
      <p>In a professional capacity, I use <a href="https://www.atlassian.com/software/jira">Jira</a> for ticketing and project management.</p>
    </div>
</div>
<div class="user-details">
    <p><em>I will never use any generative AI software to replace creative work.</em></p>
</div>
{% endmacro about %}

{% macro projects() %}
<div class="user-details">
  <h1>Major Projects</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mintee thresh" src="{{ config.base_url ~ "/img/mintee.jpg" }}" />
  </div>
  <div class="contents">
    <h3>Twitch Streams: chamomileTeacup_</h3>
    <ul>
      <li>Voice acting for video games</li>
      <li>Layout design and original character development</li>
      <li>Video editing for YouTube series creation</li>
    </ul>
    <p>For some years I have been streaming semi-professionally on Twitch. Content usually consists of video gameplay with live commentary,
        as well as scheduled endgame raiding in <i>Final Fantasy XIV</i>; but other content includes video game programming,
       music production in FL Studio, and digital art creation.</p>
    <p>VODs of streams can usually be found on my Youtube page, and recently I have been dabbling in editing my streams to cut them down for
        a wider audience. Feel free to browse the links below!</p>
    <a class="project-link" href="https://twitch.tv/chamomileTeacup_">Twitch</a>
    <a class="project-link" href="https://www.youtube.com/@chamomileteacup">YouTube</a>
    <a class="project-link" href="https://www.youtube.com/watch?v=k6NQV9zJEW0">Editing sample</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mnemosyne" src="{{ config.base_url ~ "/img/mnemosyne.jpg" }}" />
  </div>
  <div class="contents-right">
    <h3> Project Mnemosyne </h3>
    <ul>
      <li>Retro-style dungeon crawler made in Godot</li>
      <li>Descriptive combat system</li>
      <li>Extensive world-building and narrative</li> 
    </ul>
    <p>Inspired by classics such as <i>Shin Megami Tensei</i> and <i>Wizardry</i>, with an emphasis on the strange and arcane taken from games such as <i>Cruelty Squad</i> and <i>Fallen London</i>,
       this is a fourth-wall breaking dungeon crawler with a modular map creation engine and a science-fiction story very loosely based on the myth of the nine classical Greek Muses.</p>
    <p>This game is a major closed-source project and will likely take years of development, but progress can be followed through my personal Discord server.</p>
    <a class="project-link" href="https://discord.gg/YKSRstx2FU">LOFAC Discord</a>
  </div>
</div>
{% endmacro projects %}

{% macro music() %}
<div class="user-details">
    <h1>Music</h1>
    <p>Info coming soon...</p>
</div>
<div class="user-music">
    
</div>
{% endmacro music %}

{% macro art() %}
<div class="user-details">
    <h1>Art</h1>
    <p>Info coming soon...</p>
</div>
<div class="user-art">
    
</div>
{% endmacro art %}

{% macro game() %}
<div class="user-details">
    <h1>Game Development</h1>
    <p>Info coming soon...</p>
</div>
<div class="user-game">
    
</div>
{% endmacro game %}
